body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px;
}

.jumbotron {
    background-color: #007BFF;
    /* color: #fff; */
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggler-icon {
    background-color: #007BFF;
}

.nav-link {
    color: #007BFF;
}

.nav-link:hover {
    color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
}

@media (max-width: 767px) {
    .navbar-toggler-icon {
        background-color: #fff;
    }
}
